@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  color-scheme: light dark;
  --secondary-color: #42c996;
  --dark-color: #2f3030;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-width: 100%;
  min-height: 100%;
}

body {
  display: grid;
  background-color: var(--background-color);
  padding: 2em 1em;
}

menu {
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  padding: 0 2em;
  user-select: none;
}
.btn:focus,
.btn:hover,
.active {
  box-shadow: 0 0.5em 3em var(--accent-color);
}

.shapeBtn {
  font-weight: 900;
  max-width: 15em;
  height: 3em;
  color: var(--text-btn-color);
  border-radius: 2em;
  background-color: var(--accent-color);
}

#polyhedronButtons {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  max-width: 100%;
  padding: 1em 0;
}

.polyhedronIcon {
  display: none;
}

@media screen and (max-width: 850px) {
  .btn {
    padding: 0.5em;
  }

  .shapeBtn {
    height: 5em;
    border-radius: 3em;
  }

  .polyhedronText {
    display: none;
  }
  .polyhedronIcon {
    display: inline-block;
    width: 4em;
    height: 4em;
  }
}

@media screen and (max-width: 500px) {
  .btn {
    padding: 0.5em;
  }

  .shapeBtn {
    height: 4em;
    border-radius: 3em;
  }

  .polyhedronText {
    display: none;
  }
  .polyhedronIcon {
    display: inline-block;
    width: 3em;
    height: 3em;
  }
}
